<% @body_id = 'about' %>

<div class="row">
  <div class="col-12">
    <div class="row mb-3 h5">
      The benefits of a comprehensive archery program are multi-fold.
    </div>
    <div class="row mb-3">
      Honing positive character traits through encouragement and consistency, pupils will initially get a sense of excitement from the activity.
      With a lesson plan designed to engage interests through lightly competitive games, a multitude of culturing can be conveyed while maintaining enthusiasm.
    </div>
    <div class="row mb-3 h6">
      <span class="icon"><i class="icon-chevron-right"></i></span>
      AWARENESS
    </div>
    <div class="row mb-3">
      With the introduction and familiarization of safety protocols and equipment a general respect of self space is gained.
      Archery takes a certain level of proprioceptive sensitivity, alerting practitioners of the link between body and mind.
    </div>
    <div class="row mb-3 h6">
      <i class="icon icon-chevron-right"></i>
      FOCUS
    </div>
    <div class="row mb-3">
      As the student becomes more aware of themselves and the task they are applying the individual's focus is built.
      Proper application of the shooting form teaches an appreciation of sensory awareness.
      From the point of lifting the bow to drawing and releasing the arrow the idea of concentration through each of the steps within the national training system becomes vital to each archer's developpment of their own unique "shooting style".
    </div>
    <div class="row mb-3 h6">
      <i class="icon icon-chevron-right"></i>
      PATIENCE
    </div>
    <div class="row mb-3">
      Students will be given a constructive outlet for their busybody tendencies.
      Archery develops confidence in a short time when the expectations are kept playful yet applied consistently.
      Frequent positive reinforcement and guidance will foster patience in pupils.
    </div>
    <div class="row mb-3 h6">
      <i class="icon icon-chevron-right"></i>
      DISCIPLINE
    </div>
    <div class="row mb-3">
      After nurturing an adoration for the sport, practitioners should work more diligently towards achieving their own personal goals in archery and beyond.
      All the while knowing they may fall short of their task, yet they can always try again.
    </div>
  </div>
</div>
