<% @body_id = 'contact' %>

<div class="container center-box px-4 pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row mb-3 h5">
        The details of my certification can be found at the
        <a href="https://www.usarchery.org/coaches/find-a-coach" class="pl-1">US Archery website</a>.
        Search for Derrick Francis.
      </div>
      <div class="row mb-1 h6">
        Level 1 Instructor
      </div>
      <div class="row mb-3 h6">
        Portland, Oregon
      </div>
      <div class="row mb-1 h6">
        Phone: (541) 870-4106
      </div>
      <div class="row mb-3 h6">
        Email: <a href="mailto:testthemental@gmail.com" class="pl-1">testthemental@gmail.com</a>
      </div>
    </div>
  </div>
</div>
