<% @body_id = 'home' %>

<div class="row">
  <div class="col-12">
    <div class="row mb-3 h5">
      Welcome to Absurd Archery
    </div>
    <div class="row mb-3">
      I am an archery instructor certified under the National Training Standard with team USA.
      Following five years of dedication to the sport I was compelled to become an instructor by peers and senior mentors.
    </div>
    <div class="row mb-3">
      Though the world has changed we can still lean on classic skill building and character enhancing activities to keep our minds sharp and our focus attuned.
    </div>
    <div class="row mb-3">
      With the noble, refined pastime of archery we learn to train our bodies and minds to work in unison.
      Slowly gaining a better awareness not just of ourselves but also the world around us.
      It is my aim to provide this skill ot the community at a highly discounted rate in order to propagate the serenity and direction a fine archery program can establish.
    </div>
    <div class="row mb-3">
      The contents of the Syllabus tab will walk you through the course and availability options.
      Please note that all course safety protocols and guidelines have been approved as proper teaching method under the American National Training Standard.
      All instruments will naturally be wiped with sanitizing solution before and after classes.
      The option for "no tip" (corked points) play will be enlisted until students show an understanding and appreciation for lane safety rules.
    </div>

    <%= image_tag "archer-focus", width: 480, height: 480, class: "shadow-sm rounded mb-3 mx-auto img-fluid d-block"%>
  </div>
</div>
