<% @body_id = 'schedule' %>

<% if flash[:notice] %>
  <div class="row my-3 px-3 py-2 bg-primary text-white">
    <div class="col-12">
      <div class="notice"><%= flash[:notice] %></div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="mx-auto mb-3 h5">
    Coming Soon - Call for Schedule
  </div>
</div>
