<% @body_id = 'syllabus' %>

<div class="row">
  <div class="col-12">
    <div class="row mb-3">
      The course options available are set for either "free shoots", where the students receive safety
      training and guidance, or planned lessons, where each student with learn the 11 steps of archery
      success.
    </div>

    <div class="row mb-3">
      Trained lesson plans will culminate in a "Showdown" contest where the top three archers will be awarded private lessons.
      The six month syllabus option is available as a three month variant.
    </div>

    <div class="row mb-3">
      <div class="col-7">
        <div class="row h4">Syllabus Options</div>
        <div class="row h5">6 Month Plan, 24 sessions</div>
        <div class="row mb-1">
          Session 1: Safety protocols and awareness. First shot.
        </div>
        <div class="row mb-1">
          Session 2: Refresh on first lesson. 11 steps of archery success.
        </div>
        <div class="row mb-1">
          Session 3: Stylizing stance, nock, hook and grip.
        </div>
        <div class="row mb-1">
          Session 4 and 5: Reiteration.
        </div>
        <div class="row mb-1">
          Session 6: Posture, raise bow, draw and anchor.
        </div>
        <div class="row mb-1">
          Session 7 and 8: Reiteration.
        </div>
        <div class="row mb-1">
          Session 9: Hold to transfer, aim and release.
        </div>
        <div class="row mb-1">
          Session 10 and 11: Reiteration.
        </div>
        <div class="row mb-1">
          Session 12: Follow throw, reset.
        </div>
        <div class="row mb-1">
          Session 13 and 14: Reiteration.
        </div>
        <div class="row mb-1">
          Session 15-22: Prep for Showdown.
        </div>
        <div class="row mb-1">
          Session 23: Showdown. Awards and free shoot.
        </div>

        <div class="row mb-2">
          Course fee: 2,900.00 USD
        </div>
        <div class="row h6">
          6 Months "Free Shoot"
        </div>
        <div class="row mb-2">
          Course fee: 2,000.00 USD
        </div>

        <div class="row font-italic h6">
          This lesson plan is also available in a 3 month option, meeting twice a week.
        </div>
      </div>

      <div class="col-5">
        <%= image_tag "archer-kids", width: 480, height: 480, class: "shadow-sm rounded img-fluid float-right"%>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-7">
      <div class="h5">3 Month Plan, 12 sessions</div>
      <div class="mb-1">
        Session 1: Safety protocols and awareness. First shot.
      </div>
      <div class="mb-1">
        Sessions 2-11: Focus on each of the 11 steps of archery success.
      </div>
      <div class="mb-1">
        Sessions 12: Showdown.  Awards and free shoot.
      </div>

      <div class="mb-2">
        Course fee: 1,400.00 USD
      </div>
      <div class="h6">
        3 Months "Free Shoot"
      </div>
      <div>
        Course fee: 1,000.00 USD
      </div>

      <div class="h5 pt-5">Month (trial) setup, 4 sessions</div>
      <div class="mb-1">
        Session 1: Safety protocols and awareness. First shot.
      </div>
      <div class="mb-1">
        Session 2-4: Free shoot.
      </div>

      <div class="mb-2">
        Course fee: 400.00 USD
      </div>

      <div class="font-italic h6 mb-3">
        Only open if time is available.
      </div>
    </div>

    <div class="col-5">
      <%= image_tag "archer-train", width: 480, height: 480, class: "shadow-sm rounded img-fluid float-right"%>
    </div>
  </div>
</div>
