<div class="row">
  <div class="col-12">
    <div class="row mb-3 h5">
      Terms and Conditions
    </div>
    <div class="row mb-3">
      <div class="mb-2">
        <strong>1. Liability waiver: </strong>
        <div>Through signing in agreement with the terms and conditions detailed within this document, the signee, as representative of their respective organization, agrees that any and all subjects presented as pupils for instruction are of sound mind and body without signs of emotional or intellectual imbalance which may in any case lead towards the injury of themselves or others. Within the scenario of any and all instances of minor injury, maiming, or death, the signee and host program will hold Mr. Derrick Francis and any subordinates completely indemnified of any and all accounts unless substantial evidence is exposed illustrating an egregious neglect of duties. (i.e intentionally ignoring/neglecting attention to students disregarding TEAM USA saftey protocals in practiceduring coursehours) In thecasea tutor proxy is elected to fill any portions of lesson plans...that individual proxy may and can be processed to the fullest extent of the law if they fail to adhere to TEAM USA safety protocals.</div>
      </div>
      <div class="mb-2">
        <strong>2. Payment and Usage:</strong>
        <div class="pl-2">1) Payment for services rendered will be split in two installments. The initial amount equal to half the course syllabus is to be tendered immediately upon reservation of classes. The remainder shall be paid upon reaching the halfway point of the selected syllabus.</div>
        <div class="pl-2">2) Any and all images, pictures, logos and associated branding tied towards the representation of services rendered are to be approved via written waiver by Mr. Derrick Francis. Violators may be subject to fines per infraction up to $10,000 USD. This includes altered presentations, videos and any digital/ film reconstructions.</div>
      </div>
      <div class="mb-2">
        <strong>3. Equipment rental agreement:</strong>
        <div>For the sake of keeping course syllabus options affordable, equipment rentals are considered a "courtesy". Under circumstances wherein irreparable damage is sustained from misuse of equipment including: bows, arrows and all personel protective equipment, the hosting program will promptly reimburse the instructor within a period of thirty days.</div>
      </div>
      <div class="mb-1">
        <strong>4. Coverage, time off, cancellations:</strong>
          <div class="pl-2">1a) In scenarios of emergencycoverage an instructor proxy can be employed to engage lessons for temporary or extended periods.</div>
          <div class="pl-2">1b) This proxy instructor will be TEAM USA certified and will adhere to all safety protocals associated with the issuing body of certification.</div>
          <div class="pl-2">2a) Advanced notice of prolonged absence will be furnished at least one month ahead of any intended time off.</div>
          <div class="pl-2">2b) Allowances will be allotted for emergency situationsrequiring immediateattentionatinstructorsdiscretion.</div>
          <div class="pl-2">3a) Cancellations will be provided through a "buy out" option equal to % 65 of remaining prorated classes and are to be rendered at the notice of cancellation.</div>
          <div class="pl-2">3b) Tardiness with payment installations will accrue late fees equaling 7% of the payment owed every week.</div>
      </div>
    </div>
  </div>
</div>
